.normal {
    text-align: center;
}
.titulo {
    color: #CB3441;
    text-shadow: gray 1px 2px 4px;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
}

/* CARD */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px;
}
.card-container .card{
    border: none;
}